* {
  box-sizing:border-box;
 
 
}
h1{
	text-align: center;
}
.container{
	float: left;
	margin-left: 30px;
	margin-bottom: 10px;
	
	
	background-color: lightblue;
	width: 30%;
	height: 250px;
	position: relative;
 	top: 60px;
	border: 3px solid black;
}

.p1{
	
	margin-top: 0;
	text-align:center;
	background-color: red;
	position: absolute;
	top: 0;
	right: 0;
	border: 2px solid black;
	border-top: 0;
	border-right: 0;
	margin-bottom: 15px;
	width: 20%

}
.p2{
	text-align: justify;
	padding: 1%;
	position: absolute;
	top: 40px;
}
#title1{
	background-color: pink;
}
#title2{
	background-color: lightgreen;
}
#title3{
	background-color: lightyellow;
}
@media (min-width: 992px){
	.container{
	width: 30%;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.container{
		width: 45%;
	}
	#box3{
		width: 93%;
	}
}
@media (max-width: 767px){
	.container{
		width: 80%;
		height: 250px;
		margin-left: 40px;
	}
}